<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="MedDbEntities" connectionString="metadata=res://*/Entities.BaseModel.csdl|res://*/Entities.BaseModel.ssdl|res://*/Entities.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zalman;initial catalog=MedDb;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>